<section class="slideshowContainer">
    <button class="exitBtn" (click)="goSlide()">&times;</button>
    
    <swiper-container loop="true" navigation="true">
        @for(slide of slides; track trackByFn) {
            <swiper-slide>
                <div class="text">{{slide.description | translate}}</div>
            </swiper-slide>
        }
    </swiper-container>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <button class="chatBtn">
        <img src="../../../assets/icons/Group 515400.png" alt=""/>
        Chat
    </button>
</section>

<!-- footer links slideshow -->
<div class="footer-links-container">
    <ul class="footer-links">
        @for(slide of slides; track trackByFn){
            <li class="link">
                <button>
                    {{slide.title | translate}}
                </button>
            </li>
        }
    </ul>
</div> 